.no-boundary{
    border: hidden;
}

.labelWidth{
    width: 15%;
}

.textWidth{
    width: 50%;
}

.tableWidth{
    width: 70%;
}

.bigTable{
    width: 85%;
}

.adminTextWidth{
    width: 80%;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.limitTabsWidth{
    width: 50%;
}

.formsTableWidth{
    width: 45%;
}

.hideTags{
    visibility: hidden;
}

.customLabel{
    text-align: left;
    padding-top: 7px;
    margin-bottom: 0;
}

.widthFormTextDate{
    width: 30%;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.tHeaderWidth{
    width: 20%;
    white-space: nowrap;
}

.noWrap{
    white-space: nowrap;
}

.cursor {
    cursor: pointer;
}

.selectTableRow {
    background-color: steelblue !important;
}

.linkColor {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.navbarStyle {
    background: darkblue;
}

.sidebarStyle {
    background-color: darkslategrey;
    color: white;
}

.whiteName {
    color: white;
}

.appName {
    line-height: 20px;
    font-size: 18px;
    padding: 15px 15px;
    height: 50px;
    float: left;
    color: white;
}

.highlight {
    background: snow;
}

.backColorWhite {
    background-color: white;
}

body {
    background-image: url("../../client/img/Mongo Maker.jpg");
    color: white;
}

.navbar-inverse .navbar-brand {
    color: #e3be5a;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e3be5a;
}

.sidebar {
    background-color: #BFBFBF;
}

.nav-sidebar > .active > a, 
.nav-sidebar > .active > a:hover, 
.nav-sidebar > .active > a:focus {
    background-color: royalblue;
}

.nav>li>a {
    color: #000;
}

.breadcrumb {
    color: #DCDCDC;
}

table {
    background-color: snow;
}

thead {
    background-color: dimgrey;
}

table a, table td {
    color: black;
}

.table-bordered tbody tr:hover {
    background-color: lavender;
}

.panel-default {
    width: 45%;
}

.panel-default-big {
    width: 100%;
}

.panel-default-mid {
    width: 85%;
}