.no-boundary{
    border: hidden;
}

.labelWidth{
    width: 15%;
}

.textWidth{
    width: 50%;
}

.tableWidth{
    width: 60%;
}

.adminTextWidth{
    width: 80%;
}

table.tableBorder, td.tableBorder, th.tableBorder{
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.limitTabsWidth{
    width: 50%;
}

.formsTableWidth{
    width: 45%;
}

.hideTags{
    visibility: hidden;
}