<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header" id="formsHeader">Connections</h2>
    <div class="container">

        <ol class="breadcrumb" style="width: 85%">
            <li><a href="#/home">Home</a></li>
            <li class="active">Connections</li>
        </ol>

        <div class="table-responsive bigTable">
            <table class="table table-striped table-bordered sortable">
                <thead>
                <tr>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> Name</th>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> DB Name</th>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> Host</th>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> Port</th>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> Username</th>
                    <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom"
                                                  aria-hidden="true"></span> Password</th>
                    <th class="tableBor der tHeaderWidth">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.connection.name"></td>
                    <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.connection.dbname"></td>
                    <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.connection.host"></td>
                    <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.connection.port"></td>
                    <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.connection.username"></td>
                    <td class="tableBorder"><input class="adminTextWidth" type="password" placeholder="name" ng-model="model.connection.password"></td>
                    <td class="tableBorder">
                        <div class="floatRight">
                            &nbsp;<span class="glyphicon glyphicon-plus cursor"
                                        aria-hidden="true" ng-click="model.addConnection(model.connection)"></span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-ok cursor" aria-hidden="true" ng-click="model.updateConnection(model.connection)"></span>
                        </div>
                    </td>
                </tr>
               <tr ng-repeat="conn in model.connections" ng-class="{'selectTableRow': model.selectedConnection == conn._id}" >
                    <td class="tableBorder cursor">
                        <a href="#/collections/{{conn._id}}" class="linkColor">{{conn.name}}</a>
                    </td>
                   <td class="tableBorder cursor">{{conn.dbname}} </td>
                   <td class="tableBorder cursor">{{conn.host}} </td>
                   <td class="tableBorder cursor">{{conn.port}} </td>
                   <td class="tableBorder cursor">{{conn.username}} </td>
                   <td class="tableBorder cursor">{{conn.password}} </td>
                    <td class="tableBorder">
                        <div class="floatRight">
                            <span class="glyphicon glyphicon-pencil cursor"
                                  aria-hidden="true" ng-click="model.editConnection($index)"></span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-remove cursor"
                                  aria-hidden="true" ng-click="model.deleteConnection($index)"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>