<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header" id="formsHeader">Forms</h2>
    <div class="container">
        <ul class="nav nav-tabs limitTabsWidth">
            <li class="active"><a href="#/forms">Forms</a></li>
            <li><a href="#/form-fields">Fields</a></li>
        </ul>

        <div class="tab-content">
            <div id="forms" class="tab-pane fade in active">
                <h3></h3>
                <div class="table-responsive">
                    <table class="table table-striped tableWidth tableBorder sortable formsTableWidth">
                        <thead>
                        <tr>
                            <th class="tableBorder"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Form Name</th>
                            <th class="tableBorder tHeaderWidth">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tableBorder"><input class="adminTextWidth" type="text" placeholder="name" ng-model="model.form.title"></td>
                            <td class="tableBorder">
                                <div class="floatRight">
                                    &nbsp;<span class="glyphicon glyphicon-plus cursor"
                                                aria-hidden="true" ng-click="model.addForm(model.form)"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-ok cursor" aria-hidden="true" ng-click="model.updateForm(model.form)"></span>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>
                            <td class="tableBorder" name="formRedirect">Registration Form</td>
                            <td class="tableBorder">
                                <div class="floatRight">
                                    &nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableBorder" name="formRedirect">Contact List</td>
                            <td class="tableBorder">
                                <div class="floatRight">
                                    &nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableBorder" name="formRedirect">To Do List</td>
                            <td class="tableBorder">
                                <div class="floatRight">
                                    &nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </div>
                            </td>
                        </tr>-->
                        <tr ng-repeat="frm in model.forms" ng-class="{'selectTableRow': model.selectedForm == frm._id}"  ng-click="model.selectForm(frm)">
                            <td class="tableBorder cursor">
                                <a href="#/form-fields/{{frm._id}}" class="linkColor">{{frm.title}}</a>
                            </td>
                            <td class="tableBorder">
                                <div class="floatRight">
                                    <span class="glyphicon glyphicon-pencil cursor"
                                          aria-hidden="true" ng-click="model.editFormTitle()"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-remove cursor"
                                          aria-hidden="true" ng-click="model.deleteForm()"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>