<div class="col-sm-3 col-md-2 sidebar sidebarStyle">
    <ul class="nav nav-sidebar">
        <li ng-class="{'highlight': $location.url() == '/home'}">
            <a href="#/home" ng-class="$location.url() == '/home' ? 'blue' : 'whiteName'">Home</a>
        </li>
        <li ng-class="{'highlight': $location.url() == '/connection'}" ng-show="loggedUser">
            <a href="#/connection" ng-class="$location.url() == '/connection' ? 'blue' : 'whiteName'">Connections</a>
        </li>
    </ul>
</div>