<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Welcome!</h2>
    <div class="table-responsive">
        This is an app which will generate pages/UI from a database script. User will be able to navigate to connections, collections, documents
        and perform CRUD operations. These pages will allow user to manage/manipulate metadata for tables as well as change data
        within the tables. User will also be able to navigate to different pages which refer to some different table. There are two actors in the
        system - Database admin and App User. As the names suggest, database admin is a power user who can alter metadata of tables. App user, along with
        the admin, can perform CRUD operations on the data itself.
    </div>
</div>